.Minter {
  max-width: 760px;
  /* max-height: 760px; */
  padding: 0px 50px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 760px) {
  .Minter {
    padding: 0px 10px!important;
  }
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
  font-family: Days One !important;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

h1 {
  font-family: Days One !important;
  font-size: 45px;
}

h2, p {
  font-family: Days One !important;
  font-weight: 100;
}

h2 {
  font-size: 22px;
  margin: 10px 0px;
}

#status {
  font-size: 16px;
}


.butn {
  padding: 18px 16px;
  background-color: #4351A5;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  border: none;
  color: white;
  font-family: Days One !important;
  font-weight: 400;
}

.butn2 {
  font-family: Days One !important;
  font-weight: 900;
}

button:hover {
  margin-top: -1px;
}

#title {
  padding-top: 32px;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  line-height: 16px;
}
/*
#walletButton:focus {
  outline:none;
  border: none;
}

#walletButton:hover {
  outline:none;
  border :none;
} */

#mintButton {
  width: 100%;
}

.Minter {
  color: white;
  text-align: center;
}

.walletConnect {
  position: absolute;
  right: 4%;
  top: 110px;
}

.mintArea {
  width: 65%;
  margin: auto;
  text-align: left;
  margin-top: 4%;
}

.incDecButton {
  width: 15%;
  background: transparent;
  color: white;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.maxButton {
  width: 20%;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.progress {
  width: 100%;
  height: 8px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
  
.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg,#3f78ff,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}